@{
    ViewData["Title"] = "Home Page";
}

<div class="conatiner">
    <h1 class="display-4 text-center">Witamy w ATH Shop Network System</h1>
    <p class="mt-3 mb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum blanditiis ipsa non minus incidunt accusantium nulla, voluptatibus omnis, aliquid hic sint facere sapiente odit mollitia suscipit dolor doloremque laudantium molestiae?
    Eos placeat magnam mollitia laboriosam magni incidunt enim maiores sapiente. Aut necessitatibus, quisquam debitis doloribus, ducimus inventore tempora quas accusantium amet ex blanditiis, numquam magni velit. Neque et eveniet provident!
    Magnam quae sapiente, eligendi facilis omnis soluta nulla aperiam porro quia, placeat sunt non autem enim aliquid veniam totam officia? Sapiente voluptas itaque blanditiis fugit eveniet. Dolorem asperiores vel hic.
    Quisquam ullam, sint sunt ipsa tenetur ex porro error exercitationem voluptatem! Consectetur consequatur minus maiores rerum! At maxime, iure architecto culpa facilis libero veritatis unde ipsam debitis, dolores labore. Iusto!
    Autem, obcaecati quisquam delectus quibusdam aut repudiandae nostrum error sed eveniet? Laborum hic inventore error excepturi, aut autem assumenda aliquam corporis id culpa tenetur doloremque.
    </p>
    <div id="carouselIndicators" class="examples-shops carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel__picture" style="background-image:url('./images/1920px-2016_Sklep_Biedronka_w_Stroniu_Śląskim.jpg');"></div>
        </div>
        <div class="carousel-item">
            <div class="carousel__picture" style="background-image:url('./images/1920px-Somain_-_Lidl_(01).jpg');"></div>
        </div>
        <div class="carousel-item">
            <div class="carousel__picture" style="background-image:url('./images/1920px-Żabka_store_in_Tomaszów_Mazowiecki,_Legionów_Street._Poland.jpg');"></div>
        </div>
        <div class="carousel-item">
            <div class="carousel__picture" style="background-image:url('./images/Aldi.jpg');"></div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
